body{
    background-color: rgb(185, 174, 16);
    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/Door6-1920x1080-53f0b84a2c5d0301a48a41ffca467dd2.png?resize=1&w=1920);
    text-align: center;
    padding-top: 100px;
    color: white
}

#body {
    display: flex;
    justify-content: center;
}

.restart {
    margin-top: 100px;
}