body{
    background-color: rgb(185, 174, 16);
    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/Door6-1920x1080-53f0b84a2c5d0301a48a41ffca467dd2.png?resize=1&w=1920);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    color: white
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question {
    background-color: black;
    padding: 10px;
}

.container-options {
    display: flex;
    flex-wrap: wrap;
    align-items: row;
}

#reset {
    margin-top: 100px;
    align-self: center;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    align-items: row;
    font-size: 16px;
}

.button {
    display: flex;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
    
  }